/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#jsamenu-menu
{
	list-style-image:url("chrome://jsamenu/skin/Toolbar-small.png");
}

#jsamenu-toolbar-button
{
	list-style-image:url("chrome://jsamenu/skin/Toolbar.png");
}

toolbar[iconsize="small"] #jsamenu-toolbar-button
{
	list-style-image:url("chrome://jsamenu/skin/Toolbar-small.png");
}
